name: Deploy 
on:
  push:
    branches:
      - main 
  
jobs:
  deploy:
    runs-on: ubuntu-latest 
    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: Check out code
        uses: actions/checkout@v1

        env:
            LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          npm i -g @liara/cli@2
          liara deploy --api-token="$LIARA_TOKEN" --region iran --detach